<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Tutorial</title>
    <style>
      .center {
        text-align: center;
        margin-top: 20px;
      }
      body {
        background-color: lightblue;
      }
    </style>
  </head>
  <body>
    {% comment %} <p class="center">This is a paragraph at the top of the center.</p>
    <p class="center">Today is a {{ day_of_week }}</p>
    <p class="center">Today is a {{ current_time }}</p> {% endcomment %}

    <div class="center">
      <form action="/submit">
        <label for="name">Enter First Name:</label>
        <input type="text" id="firstname" name="firstname" />
        <br />

        <label for="name">Enter Last Name:</label>
        <input type="text" id="lastname" name="lastname" />
        <br />
      </form>
    </div>
  </body>
</html>
